a {
    text-decoration: none;
    color: white;
}

.navbar-link {
    height: 75px;
    width: 100px;
    padding: 20px;
}

a:visited {
    color: #FAFAFA;
}

.navbar-link:hover {
    background-color: #262626;
}

.navbar-link:active {
    border-bottom: 1px solid #547DF9;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.dropbtn {
    background-color: #414659;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #262626;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: #FAFAFA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-inline {
    margin: 0 auto;
}