* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
}

body {
    background: #FAFAFA;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
}

a {
    font-family: Roboto;
}