.topbar-menu {
    background: #414659;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.topbar-menu a {
    color: #FFF;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
}

.logsign-logo {
    padding-left: 20px;
}

.topnav-links {
    display: flex;
}

.topnav-links .icons {
    height: 22px;
    width: 24px;
}

.topnav-link-item :hover {
    background-color: #262626;
}

.topnav-link-item a {
    display: inline-block;
    width: 100px;
    height: 75px;
    text-decoration: none;
    margin: 0 auto;
    padding-top: 1rem;
}

.topnav-link-item a:active {
    color: #FFFFFF;
    border-bottom: 3px solid #547DF9;
}

.topnav-link-item a:visited {
    color: #FAFAFA;
}

.topnav-switch-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.topnav-switch-bar a {
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
}

.topnav-inside-item {
    margin-left: 20px;
}

.user-page {
    border-radius: 25px;
}

.topnav-switch-bar a:visited {
    color: #FFFFFF;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 10px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.user-picture {
    border-radius: 10px;
}

.dropbtn {
    background-color: #414659;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    background-color: #262626;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #262626;
    min-width: 200px;
    z-index: 1;
    float: left;
    width: 200px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
    width: 200px;
    height: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    display: none;
}

.dropdown-inline {
    margin: 0 auto;
    padding-right: 10px;
}

.dropdown-toggle {
    position: absolute;
    top: 52px;
    left: 76px;
}