.container-content {
    margin-left: 0 auto;
    padding: 20px;
}

.container-content-left-link a:visited {
    color: #2F80ED;
}

.container-content-left-link {
    float: left;
}

.container-content-right-link {
    float: right;
}

.dashboard-btn {
    background-color: #547DF9;
    border: 1px solid #547DF9;
    color: #FFF;
    border-radius: 5px;
    width: 134px;
    height: 32px;
}

.set-main-dashboard {
    width: 134px;
    height: 32px;
    border: 1px solid #EDEDED;
    color: #6D6D6D;
    border-radius: 5px;
    margin-left: 10px;
}

.dortkenar {
    width: 16px;
    height: 16px;
    margin-left: 13px;
}

#select-dashboards {
    background-color: #547DF9;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #547DF9;
    color: black;
    cursor: pointer;
}

.search-btn {
    width: 750px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid #6D6D6D;
    border-radius: 5px;
    color: #6D6D6D;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

#org-select {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#time-select {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.dashboards-content {
    display: flex;
    margin: 0 auto;
}

.select {
    float: left;
}

.organization {
    float: right;
}

.organization label {
    font-style: bold;
}

.dashboard-example {
    border: 1px solid #91A4B3;
    width: 450px;
    height: 450px;
    background-color: #FFF;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 10px;
}

.left-right {}

.box {
    padding: 10px;
}

.left-label {
    float: left;
}

.right-label {
    float: right;
}