.container-content {
    margin: 20px;
}

.container-content-left-link a:visited {
    color: #2F80ED;
}

.container-content-left-link {
    float: left;
}

.container-content-right-link {
    float: right;
}

.dashboard-btn {
    background-color: #547DF9;
    border: 1px solid #547DF9;
    color: #FFF;
    border-radius: 5px;
    width: 134px;
    height: 32px;
}

.set-main-dashboard {
    width: 134px;
    height: 32px;
    border: 1px solid #EDEDED;
    color: #6D6D6D;
    border-radius: 5px;
    margin-left: 10px;
}

.dortkenar {
    width: 16px;
    height: 16px;
    margin-left: 13px;
}

.select-search-organization {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#select-dashboards {
    background-color: #547DF9;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #547DF9;
    color: black;
    cursor: pointer;
}

#org-select {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#time-select {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.dashboards-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.select {
    width: 20%;
    float: left;
}

.organization {
    float: right;
}

.organization label {
    font-style: bold;
}

.dashboard-example {
    border: 1px solid #91A4B3;
    width: 450px;
    height: 450px;
    background-color: #FFF;
    text-align: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.box {
    padding: 10px;
}

.images-hardrock {
    margin-top: 100px;
}

.dashboard-example .box .label-alignment .left {
    float: left;
}

.dashboard-example .box .label-alignment .right {
    float: right;
}

.search-btn {
    width: 80%;
    margin: 0 auto;
}

.search {
    width: 1440px;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #91A4B3;
    margin: 0 auto;
}

.select-item {
    background-color: #547DF9;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    color: #FFF;
}

.organization-examples {
    width: 20%;
}

.organization-examples label {
    font-style: bold;
    line-height: 22px;
    font-size: 14px;
}

.ex-select {
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    background-color: #E5E5E5;
}

.day-select {
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    background-color: #E5E5E5;
}