.container-link {
    margin: 20px;
}

.container-content-left-link a:visited {
    color: #2F80ED;
}

.container-content-left-link {
    float: left;
}

.container-content-right-link {
    float: right;
}

.dashboard-btn {
    background-color: #547DF9;
    border: 1px solid #547DF9;
    color: #FFF;
    border-radius: 5px;
    width: 134px;
    height: 32px;
}

.set-main-dashboard {
    width: 134px;
    height: 32px;
    border: 1px solid #EDEDED;
    color: #6D6D6D;
    border-radius: 5px;
    margin-left: 10px;
}

.dortkenar {
    width: 16px;
    height: 16px;
    margin-left: 13px;
}

.select-search {
    width: max-content;
    height: max-content;
}

#select {
    background-color: #547DF9;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #547DF9;
    color: black;
}

.search {
    width: 745px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid #6D6D6D;
    border-radius: 5px;
    color: #6D6D6D;
    padding: 20px;
    margin-left: 20px;
}

.bos {
    width: 200px;
    height: 50px;
}

.time-select {
    width: 120px;
    height: 40px;
    margin-left: 20px;
}

.organization-select {
    width: 150px;
    height: 40px;
    margin-left: 20px;
}

label {
    margin-left: 20px;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #FFF;
    display: contents;
}